### Setup

1. Load data and create phyloseq object

In [12]:
map <- read.table("../03-euk_analyses//map.txt", header=T, sep="\t")
map <- map[!is.na(map$SRA_WGS_accession), ]
rownames(map) <- map$SRA_WGS_accession
head(map)

             Sample_IDs SRA_WGS_accession family individual quartier_name
SRR13378623  TM01-03    SRR13378623       1      3          yissouka
SRR13378601  TM02-02    SRR13378601       2      2          yissouka
SRR13378590  TM02-03    SRR13378590       2      3          yissouka
SRR13378579  TM03-01    SRR13378579       3      1          yissouka
SRR13378546  TM04-01    SRR13378546       4      1          yissouka
SRR13378633  TM04-02    SRR13378633       4      2          yissouka
             born_tm born_province born_country age_years age_cat     ⋯
SRR13378623  yes     boulkiemde    burkina_faso 18        young_adult ⋯
SRR13378601  no      boulkiemde    burkina_faso 46        adult       ⋯
SRR13378590  yes     boulkiemde    burkina_faso 21        young_adult ⋯
SRR13378579  no      boulkiemde    burkina_faso 61        adult       ⋯
SRR13378546  yes     boulkiemde    burkina_faso 69        elderly     ⋯
SRR13378633  no      sanguie       burkina_faso 52        adult       ⋯
             riceFreq_cat sodaFreq_cat totalPoultry totalPoultry_cat cq
SRR13378623  common       common       17           low              11.81
SRR13378601  infrequent   rare         21           mid              12.42
SRR13378590  common       rare         21           mid              12.90
SRR13378579  common       rare         30           mid              11.94
SRR13378546  common       never        40           mid              17.52
SRR13378633  common       never        40           mid              14.73
             travel_3months travel_location travel_return smoke_frequency
SRR13378623  no             NA              NA            never
SRR13378601  no             NA              NA            never
SRR13378590  no             NA              NA            never
SRR13378579  yes            Ouagadougou     month         never
SRR13378546  yes            Koudougou       week          never
SRR13378633  yes            Ouagadougou     month         never
             Description
SRR13378623  NA
SRR13378601  NA
SRR13378590  NA
SRR13378579  NA
SRR13378546  NA
SRR13378633  NA

In [14]:
seqtab <- read.table("wgs_seqtable.txt", header=T, row.names = 1)
head(seqtab)

   SRR13378546 SRR13378550 SRR13378552 SRR13378554 SRR13378555 SRR13378556
S1 20645       0           113         0           0             0
S2  2792       0             0         0           0             0
S3     0       0             0         0           0             0
S4  5700       0             0         0           0           105
S5     0       0             0         0           0             0
S6     0       0             0         0           0             0
   SRR13378560 SRR13378562 SRR13378563 SRR13378564 ⋯ SRR13378621 SRR13378622
S1 0           131488      0           0           ⋯ 309866      0
S2 0                0      0           0           ⋯      0      0
S3 0                0      0           0           ⋯      0      0
S4 0                0      0           0           ⋯      0      0
S5 0              204      0           0           ⋯      0      0
S6 0              206      0           0           ⋯      0      0
   SRR13378623 SRR13378624 SRR13378625 SRR13378628 SRR13378630 SRR13378631
S1 6065        27985       21228       160503      0           39
S2    0         3801           0          455      0            0
S3    0            0           0            0      0            0
S4    0            0           0            0      0            0
S5    0            0           0            0      0            0
S6    0            0           0            0      0            0
   SRR13378632 SRR13378633
S1 131266      0
S2   2847      0
S3      0      0
S4      0      0
S5      0      0
S6      0      0

In [15]:
taxa <- read.table("wgs.tax.txt", header=T, sep="\t", row.names = 1)
head(taxa)

ERROR: Error in read.table("wgs.tax.txt", header = T, sep = "\t", row.names = 1): more columns than column names